
<a href="{% url 'goalsforms' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'domaingoalssolutions' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'goalstables' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'milforms' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'domainmilssolutions' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'miltables' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'home' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'assetmanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'assetmanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'controlsmanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'controlsmanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'trainingawarenessgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'trainingawarenessmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'configurationchangemanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'configurationchangemanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'vulnerabilitymanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'incidentmanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'incidentmanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>



<a href="{% url 'servicecontinuitymanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'servicecontinuitymanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'riskmanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>


<a href="{% url 'riskmanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'externaldependenciesmanagementgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'externaldependenciesmanagementmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'situationalawarenessgoalform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>

<a href="{% url 'situationalawarenessmilform' %}">
    <i class="fa fa-arrow-left"> Back</i>
</a>