{% extends 'crrs_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-assistive-listening-systems"></i>
            </div>
            <div>Cyber Resilience Review System
                <div class="page-title-subheading">Training Awareness Domains
                </div>
            </div>
        </div>
    </div>
    <!--start here-->
    <a href="{% url 'trainingawarenessgoalform' %}">
        <i class="fa fa-arrow-left"> Back</i>
    </a>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Goal 1 Cyber security awareness and training programs are established.</h5>
                    <form action="{% url 'tag1form' %}" method="post" autocomplete="off" class="col-md-12">
                        {% csrf_token %}
                        <div class="position-relative form-group">
                            {{form.expertid|as_crispy_field}}
                        </div>
                        <div class="position-relative form-group">
                            {{form.formid|as_crispy_field}}
                        </div>
                        <fieldset class="position-relative form-group">
                            <!--QUESTION-->
                            1. Have cyber security awareness needs been identified for the critical service?
                            [OTA:SG1.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if cyber security awareness needs have been identified for
                                            the critical service.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has identified all of the cyber security awareness
                                            needs for the critical service.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • The organization has identified some of the cyber security awareness
                                            needs.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_one|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            2. Have required skills been identified for specific roles (administrators, technicians,
                            etc.) for the critical
                            service? [HRM:SG1.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if the required skills necessary to fulfill specific roles
                                            that support the critical
                                            service have been identified.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has identified all required skills for the specific
                                            roles needed to support the critical
                                            service.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • The organization has identified some required skills for the specific
                                            roles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_two|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            3. Are skill gaps present in personnel responsible for cyber security identified?
                            [OTA:SG3.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if skill gaps present in personnel responsible for cyber
                                            security of the critical
                                            service have been identified.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has identified the skill gaps present in all cyber
                                            security personnel assigned to support
                                            the critical service.
                                            • Or; The organization has determined there are no skill gaps present in
                                            any of the cyber security personnel
                                            assigned to support the critical service.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • The organization has identified the skill gaps present in some cyber
                                            security personnel.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_three|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            4. Have training needs been identified? [OTA:SG3.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if the organization has identified training needs to
                                            address the identified skill
                                            gaps of the personnel assigned to support the critical service
                                            (established in TA:G3.Q3).
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has identified the training needs for all personnel
                                            assigned to support the critical
                                            service.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • The organization has identified the training needs for some personnel.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_four|as_crispy_field}}
                            </div>

                        </fieldset>
                        <div class=" row col-md-12 ">
                            <div class="col-md-8 position-relative form-check">
                                <button class="mt-1 btn btn-primary btn-block btn-lg"><i
                                        class="fas fa-database"></i>Submit</button>
                            </div>
                            <div class="col-md-4 position-relative form-check">
                                <a href="{% url 'tag1table' %}" class="mt-1 btn btn-secondary btn-block btn-lg">
                                    <i class="fas fa-stream"></i>Back To Report
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}