{% extends 'crrs_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-assistive-listening-systems"></i>
            </div>
            <div>Cyber Resilience Review System
                <div class="page-title-subheading">External Dependencies Management Domains
                </div>
            </div>
        </div>
    </div>
    <!--start here-->
    <a href="{% url 'externaldependenciesmanagementgoalform' %}">
        <i class="fa fa-arrow-left"> Back</i>
    </a>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Goal 5 Dependencies on public services and infrastructure service providers
                        are identified. </h5>
                        <form action="{% url 'edmg5form' %}" method="post" autocomplete="off" class="col-md-12">
                            {% csrf_token %}
                            <div class="position-relative form-group">
                                {{form.expertid|as_crispy_field}}
                            </div>
                            <div class="position-relative form-group">
                                {{form.formid|as_crispy_field}}
                            </div>
                        <fieldset class="position-relative form-group">
                            <!--QUESTION-->
                            1. Are public services on which the critical service depends (fire response and rescue
                            services, law
                            enforcement, etc.) identified? [EC:SG4.SP3]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if public services that the critical service depends on are
                                            identified.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has identified and documented all public services on
                                            which the critical service depends.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Some public services are identified.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_one|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            2. Are infrastructure providers on which the critical service depends
                            (telecommunications and telephone
                            services, energy sources, etc.) identified? [EC:SG4.SP4]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if infrastructure providers that the critical service
                                            depends on are identified.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has identified and documented all infrastructure
                                            providers on which the critical service
                                            depends.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Some infrastructure providers are identified.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_two|as_crispy_field}}
                            </div>
                        </fieldset>
                        <div class=" row col-md-12 ">
                            <div class="col-md-8 position-relative form-check">
                                <button class="mt-1 btn btn-primary btn-block btn-lg"><i
                                        class="fas fa-database"></i>Submit</button>
                            </div>
                            <div class="col-md-4 position-relative form-check">
                                <a href="{% url 'edmg5table' %}" class="mt-1 btn btn-secondary btn-block btn-lg">
                                    <i class="fas fa-stream"></i>Back To Report
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}