{% extends 'crrs_app/base.html' %}
{% block content %}
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fas fa-assistive-listening-systems"></i>  
                            </div>
                                    <div>Cyber Resilience Review System
                                        <div class="page-title-subheading">Cyber Security Level Charts
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--start here-->
                                <a href="{% url 'home' %}">
                                    <i class="fa fa-arrow-left"> Back</i>
                                </a>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Goal Domains Cyber Security Levels
                                        </h5>
                                            <a href="{% url 'goalssecuritylevels' %}">
                                                <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Goal Domain Chart</i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="main-card mb-3 card">
                                    <div class="card-body">
                                        <h5 class="card-title">Maturity Indicator Level Domains Cyber Security Levels
                                        </h5>
                                            <a href="{% url 'milsecuritylevels' %}">
                                                <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Maturity Indicator Level Domain Chart</i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                            {% endblock %} 