{% extends 'crrs_app/base.html' %}
{% block content %}
                <div class="app-page-title">
                    <div class="page-title-wrapper">
                        <div class="page-title-heading">
                            <div class="page-title-icon">
                                <i class="fas fa-assistive-listening-systems"></i>  
                            </div>
                                    <div>Cyber Resilience Review System
                                        <div class="page-title-subheading">Goal Domains Input Reports
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--start here-->
                            <a href="{% url 'home' %}">
                                <i class="fa fa-arrow-left"> Back</i>
                            </a>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <h5 class="card-title">Domain Level
                                            </h5>
                                                <a href="{% url 'assetmanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Asset Management</i>
                                                </a>
                                                <a href="{% url 'controlsmanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Controls Management</i>
                                                </a>
                                                <a href="{% url 'configurationchangemanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Configuration and Change Management</i>
                                                </a>
                                                <a href="{% url 'vulnerabilitymanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Vulnerability Management</i>
                                                </a>
                                                <a href="{% url 'incidentmanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Incident Management</i>
                                                </a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="main-card mb-3 card">
                                        <div class="card-body">
                                            <h5 class="card-title">Domain Level
                                            </h5>
                                                <a href="{% url 'servicecontinuitymanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Service Continuity Management</i>
                                                </a>
                                                <a href="{% url 'riskmanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Risk Management</i>
                                                </a>
                                                <a href="{% url 'externaldependenciesmanagementgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">External Dependencies Management</i>
                                                </a>
                                                <a href="{% url 'trainingawarenessgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Training and Awareness</i>
                                                </a>
                                                <a href="{% url 'situationalawarenessgoalstable' %}">
                                                    <i class="mb-2 mr-2 btn btn-primary btn-sm btn-block">Situational Awareness</i>
                                                </a>
                                            
                                        </div>
                                    </div>
                                </div>
{% endblock %} 