{% extends 'crrs_app/base.html' %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-assistive-listening-systems"></i>  
            </div>
                    <div>Cyber Resilience Review System
                        <div class="page-title-subheading">Training Awareness Maturity Indicator Level Domain Table Report
                        </div>
                    </div>
                </div>
            </div>
            <!--start here-->
            <a href="{% url 'miltables' %}">
                <i class="fa fa-arrow-left"> Back</i>
            </a>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Training Awareness Management Maturity Indicator Level Table Report
                        </h5>
                        <a href="{% url 'tamil2table' %}">
                            <i class="mb-2 mr-2 btn-transition btn btn-outline-info">Training Awareness Management MIL 2 Table Report</i>
                        </a>
                        <a href="{% url 'tamil3table' %}">
                            <i class="mb-2 mr-2 btn-transition btn btn-outline-info">Training Awareness Management MIL 3 Table Report</i>
                        </a>
                        <a href="{% url 'tamil4table' %}">
                            <i class="mb-2 mr-2 btn-transition btn btn-outline-info">Training Awareness Management MIL 4 Table Report</i>
                        </a>
                        <a href="{% url 'tamil5table' %}">
                            <i class="mb-2 mr-2 btn-transition btn btn-outline-info">Training Awareness Management MIL 5 Table Report</i>
                        </a>
                    </div>
                </div>
            </div>
            {% endblock %} 