{% extends 'crrs_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-assistive-listening-systems"></i>
            </div>
            <div>Cyber Resilience Review System
                <div class="page-title-subheading">Controls Management Domains
                </div>
            </div>
        </div>
    </div>
    <!--start here-->
    <a href="{% url 'controlsmanagementgoalform' %}">
        <i class="fa fa-arrow-left"> Back</i>
    </a>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">Goal 3 Control designs are analyzed to ensure they satisfy control
                        objectives.</h5>
                    <form action="{% url 'cmg3form' %}" method="post" autocomplete="off" class="col-md-12">
                        {% csrf_token %}
                        <div class="position-relative form-group">
                            {{form.expertid|as_crispy_field}}
                        </div>
                        <div class="position-relative form-group">
                            {{form.formid|as_crispy_field}}
                        </div>
                        <fieldset class="position-relative form-group">
                            <!--QUESTION-->
                            1. Are control designs analyzed to identify gaps where control objectives are not
                            adequately satisfied?
                            [CTRL:SG3.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if controls satisfy the established control objectives.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • The organization has analyzed all the controls.
                                            • And; the organization has identified gaps where existing controls do
                                            not meet the control objectives.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Some controls have been analyzed against control objectives.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_one|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            2. As a result of the controls analysis, are new controls introduced or existing
                            controls modified to address
                            gaps? [CTRL:SG3.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if existing controls are modified or new controls are
                                            implemented to resolve
                                            gaps.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • modifying existing controls
                                            • Or; introducing new controls
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Some gaps discovered from analysis are addressed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_two|as_crispy_field}}
                            </div>
                        </fieldset>
                        <div class=" row col-md-12 ">
                            <div class="col-md-8 position-relative form-check">
                                <button class="mt-1 btn btn-primary btn-block btn-lg"><i
                                        class="fas fa-database"></i>Submit</button>
                            </div>
                            <div class="col-md-4 position-relative form-check">
                                <a href="{% url 'cmg3table' %}" class="mt-1 btn btn-secondary btn-block btn-lg">
                                    <i class="fas fa-stream"></i>Back To Report
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}