{% extends 'crrs_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">
                <i class="fas fa-assistive-listening-systems"></i>
            </div>
            <div>Cyber Resilience Review System
                <div class="page-title-subheading">Service Continuity Management Domains
                </div>
            </div>
        </div>
    </div>
    <!--start here-->
    <a href="{% url 'servicecontinuitymanagementmilform' %}">
        <i class="fa fa-arrow-left"> Back</i>
    </a>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">MIL3 Managed</h5>
                    <form action="{% url 'scmmil3form' %}" method="post" autocomplete="off" class="col-md-12">
                        {% csrf_token %}
                        <div class="position-relative form-group">
                            {{form.expertid|as_crispy_field}}
                        </div>
                        <div class="position-relative form-group">
                            {{form.formid|as_crispy_field}}
                        </div>
                        <fieldset class="position-relative form-group">
                            <!--QUESTION-->
                            1. Is there management oversight of the performance of the service continuity
                            activities?
                            [SC:GG2.GP8],[GG2.GP8]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if management oversight exists. The intent of oversight is
                                            to ensure the direct,
                                            day-to-day monitoring of the service continuity management activities.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • Management oversight of all the day-to-day service continuity
                                            management activities is being performed.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Management oversight covers some aspects of the day-to-day service
                                            continuity management activities.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_one|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            2. Have qualified staff been assigned to perform service continuity activities as
                            planned? [SC:GG2.GP3, GP4, &
                            GP5],[GG2.GP3, GP4, & GP5]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if qualified staff have been assigned. The intent of this
                                            question is to evaluate the
                                            qualifications of the staff, not the completeness of the plan.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • All staff assigned to perform the planned service continuity
                                            management activities are appropriately
                                            skilled.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Some staff assigned have the skill necessary to perform their roles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_two|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            3. Is there adequate funding to perform service continuity activities as planned?
                            [SC:GG2.GP3.SP2],[GG2.GP3.SP2]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if adequate funding has been provided. The intent of the
                                            question is to evaluate
                                            the completeness of the funding, not the completeness of the plan.
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • Adequate funding has been provided to perform all planned service
                                            continuity management activities.

                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • The planned activities have only been partially funded.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_three|as_crispy_field}}
                            </div>
                            <br>
                            <!--QUESTION-->
                            4. Are risks related to the performance of planned service continuity activities
                            identified, analyzed, disposed
                            of, monitored, and controlled? [SC:GG2.GP1],[RISK:SG1],[RISK:SG1.SP1]
                            <!-- Button to Open the Modal -->
                            <div class="widget-content-left">
                                <div class="btn-group ">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <i class="fa fa-list-ul ml-2 opacity-8">
                                            <b2>Read More</b2>
                                        </i>
                                    </a>
                                    <div tabindex="-6" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-left">
                                        <p>
                                            To determine if the organization identifies, analyzes, and mitigates
                                            risks related to the
                                            performance of the service continuity management activities
                                        </p>
                                        <p>
                                            Criteria for “Yes” Response:
                                            • Risks to the performance of all planned service continuity management
                                            activities are identified, analyzed,
                                            disposed of, monitored, and controlled.
                                        </p>
                                        <p>
                                            Criteria for “Incomplete” Response:
                                            • Risks to the performance of some of the planned service continuity
                                            management activities are identified,
                                            analyzed, disposed of, monitored, and controlled.
                                            • Or; risks to the performance of planned service continuity management
                                            activities are identified but are
                                            not analyzed, disposed of, monitored, or controlled.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--popup button-->
                            <div class="col-md-12 position-relative form-check">
                                {{form.response_four|as_crispy_field}}
                            </div>
                        </fieldset>
                        <div class=" row col-md-12 ">
                            <div class="col-md-8 position-relative form-check">
                                <button class="mt-1 btn btn-primary btn-block btn-lg"><i
                                        class="fas fa-database"></i>Submit</button>
                            </div>
                            <div class="col-md-4 position-relative form-check">
                                <a href="{% url 'scmmil3table' %}" class="mt-1 btn btn-secondary btn-block btn-lg">
                                    <i class="fas fa-stream"></i>Back To Report
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}